

<h6 class="card-subtitle mb-2 text-muted"> 
{{quots.author}} <span id="when">Posted: {{quots.datePosted | dateCount}} day(s) ago.</span>  </h6>
<div class = "container-fluid" id = "buttons">
    <button class="btn btn-sm like" (click)="upvote()" appHighlight> {{quots.likes}} <i class="bi-hand-thumbs-up-fill" id="like"></i></button>

    <button class="btn btn-sm hate" (click)="downvote()" appHighlight>  {{quots.dislikes}} <i class="bi-hand-thumbs-up-fill" id="dislike"></i></button>

    <button class="btn btn-sm btn-danger" (click)="quoteDelete"> <i class="bi-trash" id="delete"></i></button>
</div>
