.form-control {
    color: white;
    background: transparent;
    font-weight: 530;
}
.container-fluid {
    background-color: rgba(206, 188, 188, 0.753);
    padding-bottom: 5%;
    font-family: 'Dongle',cursive;
    font-size: larger;
    font-weight: bolder;
    border-radius: 4%;
    box-shadow: 2px 2px 2px 2px;
    width: 300px;
    text-align: center;
    margin-left: 60px;
    margin-top: 70px;
}
.label{
    color: white;
    font-weight: 600;
}
/* .container-fluid .h1{
    text-align: center;
    padding-top: 2%;
} */

.button{
    padding-top: 2%;
}