.row {
    padding:2%;
    align-items: right;
    /* margin-left: 50%; */
}
h1{
    font-family: 'The Nautigal', cursive;
    color: white;
    text-align: center;
    font-weight: bolder;
    /* padding-top: 2%; */
    padding-bottom: 1%;
    font-size: 60px;
    /* font-size: xx-large; */
}
h4{
    font-family: 'Dongle',cursive;
}
span{
    font-family: 'Dongle',sans-serif;
}

.overlay{
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 4%;
    margin-left: 4%;
    padding-bottom: 5%;
    padding-top: 5%;
    height: 100%;
    width: 100%;
}
#name{
    color: rgba(4, 52, 83, 0.637);
    font-weight: 700;
}
.all-cards{
    /* display: flex; */
    flex-direction: column;
    column-count: 2;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 600px;
    align-items: right;
    transform: y(-3px);
    /* align-items: flex-start; */
    margin-left: 60%;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: right;
}

#quotes-button{
    float:right
}
.card{
    margin-bottom: 2%;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px 2px;
}
#datecolor {
    color: coral;
}
.card-text{
    font-family: 'The Dongle',sans-serif;
    font-size: 18px;
}
.col-sm-9 {
    align-items: right;
    margin-left: 60%;
    padding-top: 0%;
}