<div class="overlay">
    <h1>
        {{title | titlecase}}
    </h1>
    <hr style="width:50%;">
    <div class="container-fluid">
        <div class="row">
            <div class = col-sm-3>      
                <app-form (addQuote)="addedQuote($event)"></app-form>
            </div>
            <div class="col-sm-9">
                <!-- <h3 class="text-center">Feel inspired</h3> -->
                <div class="cards">
                    <div *ngFor="let quote  of sortQuotes; let i= index" class="card" style="width: 20rem;">
                    <div class="card-body" appHighlightQuote > 
                        <h4 class="card-title" > 
                            <button (click)="displayInfo(i)" class="btn btn-dark btn-sm" id="quotes-button">Read more</button>
                        </h4>
                        <p class="card-text" id= "innertext"> {{quote.quote}}</p>
                        <app-upvote *ngIf="quote.showInfo"  (isRead)="quoteDelete ($event, i)"></app-upvote>
                        <span class="card-subtitle mb-2">Shared by: 
                            <span id="name">{{quote.name}} 
                            <span id="date">
                            on: <span id="datecolor">{{quote.datePosted|date:'short'}}</span></span></span></span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>